.range-input {
    position: relative;
    width: 90%; /* Ajusta según sea necesario */
    padding: 20px;
    border-radius: 8px;
    outline: none;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
    margin: 0 auto; /* Centra el componente */
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.text-container {
    font-weight: bold;
    color: rgb(23, 73, 75);
}

.value {
    font-size: 1.2rem;
    color: rgb(23, 73, 75);
    margin-top: 0%; /* Espacio entre el label y el div "value" */
}

.value-container {
    width: 90%; /* El input ocupará el 90% del ancho */
    margin: 0 auto; /* Centra el contenedor del input */
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background-color: rgb(23, 73, 75);
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #eee;
    border: 2px solid rgb(23, 73, 75);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #eee;
    border: 2px solid rgb(23, 73, 75);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
    background: rgb(23, 73, 75); /* Color cuando se presiona */
}

input[type="range"]::-moz-range-thumb:active {
    background: rgb(23, 73, 75); /* Color cuando se presiona */
}