.select-ticket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px; 
}

.custom-select {
    width: 50%; 
    height: 35px;
    background-color: rgb(240, 248, 255);
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    outline: none;
}