.input-container {
    margin-bottom: 16px; /* Espacio entre inputs */
}

.custom-select {
    width: 50%; /* Ancho del select */
    height: 35px;
    background-color: rgb(245, 245, 220);
    padding: 8px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del select */
    border-radius: 4px; /* Bordes redondeados */
    outline: none;
}